@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #1F2937;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.smallerLogo{
    max-width: 75%;
    max-height: 75%;
}

.small-image {
    width: 80px;
    height: 80px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-bottom: 50px;
    margin: 0%;
    width: 100%;
}

li {
    margin-top: auto;
}

ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 10px;
    gap: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.left-items {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAf8;
    margin: 0% 10%;
    margin-top: auto;
}

.right-items{
    display: flex;
    margin: 0% 10%;
}

.first-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.left-section{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: #F9FAf8;
    margin: 0% 10%;
    justify-content: center;

}

.right-section {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    margin: 0% 10%;
}

.hero {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}

.container {
    width: 100%;
    /*margin: 0% 10%;*/
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.second-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.second-section-container {
    /*margin: 0% 10%; */
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }
  
.card {
    padding: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }

.card img{
    align-self: center;
}

.cardSquare {
    border: 5px solid #1F2937;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 10px;
    width: 200px;
    height: 300px;
    object-fit: cover;

}

.cardText {
    font-style: italic;
    text-align: center;
}

.third-section {
    background-color: #E5E7EB;
    display: flex;
    /*width: 100%;*/
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.third-section-container {
    /* margin: 0% 10%; */
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 80em;
  }

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    padding: 0% 2%;
}

.quote-credit {
    font-weight: bolder;
    padding-left: 30%;
    font-size:36px;
}

.fourth-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.outline {
    background-color: #3882F6;
    width: 50em;
    height: 150px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-side{
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

.action{
    font-weight: bolder;
}

button.signUp{
    border: 2px solid white;
    font-weight:900;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    height: 72px;
}