body{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-bottom: 50px;
    margin: 0% 10%;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 18px;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.left-items {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAf8;
}

.first-section {
    display: flex;
    justify-content: space-between;
}

.left-section{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: #F9FAf8;

}

.right-section {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.hero {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}

.container {
    margin: 0% 10%;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.second-section {
    background-color: white;
}